.section-top-about {
  padding: 50px 0;
  .about-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .about-text {
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
    line-height: 2;
    padding: 0 50px;
  }
}

.title-slogan {
  margin: 0 auto 30px;
  img {
    width: 50%;
  }
}
